.section__subtitle{
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
  margin-bottom: 60px;
}

.section__subtitle--techniques{
  margin-bottom: 0px;
}

.section__subtitle--video{
  margin-bottom: 50px;
}