.oakley__two-columns_paragraph{
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.oakley__two-columns_paragraph:last-child{
  margin: 0;
  padding-bottom: 0;
}