@keyframes rotation-left {
  from{
    transform: rotate(-15deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

@keyframes rotation-right {
  form{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}