/* root imports at-rules*/
@import url(../Blocks/root/root.css);

/* header imports at-rules*/
@import url(../Blocks/logo/logo.css);
@import url(../Blocks/logo/__header/logo__header.css);
@import url(../Blocks/header/header.css);
@import url(../Blocks/header/__title/header__title.css);
@import url(../Blocks/header/__subtitle/header__subtitle.css);
@import url(../Blocks/header/__link/header__link.css);
@import url(../Blocks/header/__main-illustration/header__main-ilustration.css);
@import url(../Blocks/header/__square-pic/header__square-pic.css);

/* description imports at-rules*/
@import url(../Blocks/two-columns/two-columns.css);
@import url(../Blocks/two-columns/__brief/_title/two-columns__brief_title.css);
@import url(../Blocks/two-columns/__brief/two-columns__brief);
@import url(../Blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../Blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../Blocks/two-columns/__span-accent/two-columns__span-accent.css);

/* techniques imports at-rules*/
@import url(../Blocks/techniques/techniques.css);
@import url(../Blocks/techniques/__cards/techniques__cards.css);
@import url(../Blocks/techniques/__cards/_items/techniques__cards_items.css);
@import url(../Blocks/techniques/__cards/_images/techniques__cards_image.css);
@import url(../Blocks/techniques/__cards/_title/techniques__cards_title.css);
@import url(../Blocks/techniques/__cards/_description/techniques__cards_description.css);

/* video imports at-rules*/
@import url(../Blocks/video/video.css);
@import url(../Blocks/video/__iframe/video__iframe.css);
@import url(../Blocks/video/__iframe/_id/video__iframe_id);

/* oakley imports at-rules*/
@import url(../Blocks/oakley/oakley.css);
@import url(../Blocks/two-columns/two-columns.css);
@import url(../Blocks/two-columns/__brief/_title/two-columns__brief_title.css);
@import url(../Blocks/two-columns/__brief/two-columns__brief);
@import url(../Blocks/two-columns/__paragraph/two-columns__paragraph.css);
@import url(../Blocks/two-columns/__main-text/two-columns__main-text.css);
@import url(../Blocks/two-columns/__span-accent/two-columns__span-accent.css);

/* feynman imports at-rules*/
@import url(../Blocks/feynman/feynman.css);
@import url(../Blocks/feynman/__title/feynman__title.css);
@import url(../Blocks/feynman/__subtitle/feynman__subtitle.css);
@import url(../Blocks/feynman/__link/feynman__link.css);
@import url(../Blocks/feynman/__image/feynman__image.css);



/* digits imports at-rules*/
@import url(../section-title/section__title.css);
@import url(../section-title/__text/section__title-text.css);
@import url(../section-subtitle/section__subtitle.css);
@import url(../section-subtitle/__text/section__subtitle-text.css);
@import url(../Blocks/digits/digits.css);
@import url(../Blocks/table/__list/table__list.css);
@import url(../Blocks/table/__ul/table__ul.css);
@import url(../Blocks/table/__cell/table__cell.css);
@import url(../Blocks/table/__heading/table__heading.css);
@import url(../Blocks/table/__text/table__text.css);


/* khan imports at-rules*/
.khan{
  background-color: #F2F2F2;
  min-height: 700px;
  display: flex;
}
*{
  outline: 2px solid blue;
}
.khan__container{
  width: 80%;
  margin: auto;
  outline: 2px solid #1F1F1F;
  min-height: 500px;
}

.khan__book-container{
  display: inline-block;
  width: 100px;
}
.khan__book-pic{
  width="620px"
  height="40px"
}
/* kaufman imports at-rules*/
.kaufman{
  background-color: #1F1F1F;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.kaufman__image{
  height: 660px;
  width: 636px;
  position: absolute;
  top: -25px;
  right: -124px;
}

.section__title_theme_dark{
  width: 60%;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 0;
  z-index: 200;
}

.section__title--text_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  color: #F2F2F2;
  text-align: center;
}

.section__subtitle_theme_dark{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  z-index: 250;
}

.section__subtitle--text_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  color: #F2F2F2;
  text-align: center;
}

.table__div_theme_dark{
  width: 1100px;
  margin: auto;
  z-index: 300;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-bottom: 90px;
}

.table__ul_theme_dark{
  padding: 0px;
  width: 1100px;
  display: flex;
  margin: auto;
  margin-top: 80px;
  justify-content: space-between;
}

.table__cell_theme_dark{
  list-style: none;
  width: 200px;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #F2F2F2;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
  color: #F2F2F2;

}

.footer{
  background-color: #1F1F1F;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content:space-around;
  min-height: 350px;
}

.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  position: relative;
}
.logo_place_footer{
  width: 183px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
}

.footer__author{
  color: #F2F2F2;
  position: absolute;
  left: 0;
  bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_about{
  display: flex;
  position: relative;
  flex-direction: column;
}

.footer__column-heading{
  color: #F2F2F2;
  margin: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__list{
  display: flex;
  list-style-type: none;
  margin-left: 0px;
  margin: 0px;
  padding: 0px;
  flex-direction: column;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__social-icons{
  width: 16px;
  height: 16px;
  display: flex;
  margin-right: 16px;
  align-self: center;
}

.footer__column-link{
  display: flex;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #F2F2F2;
}